*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header .container{
    display: block;
    flex-wrap: wrap;
    border-top-left-radius: 5px;
    background-color: black;
    height: 40px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.header h3{
    flex: 1 1 auto;
    font-family: Verdana;
    font-size: small;
    text-align: center;
    color: white;
    padding-top: 10px;
}
.header span{
    color: orange;
}
.header .one{
    display: block;
    font-family: Verdana;
    font-size: small;
    text-align: center;
    color: black;
    padding: 5px;
}
.nav {
    font-family: Verdana;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

.flex{
    display: flex;
    justify-content: space-between;

}

.nav .nav-links {
    list-style: none;
    display: flex;
    gap: 80px;
}
.nav  .nav-links .item{
    font-family: 'Times New Roman';
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
}

.nav .nav-links li a {
    color: grey;
    text-align: center;
    text-decoration: none;
}
.nav .nav-links li a:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.content{
    font-family: Verdana;
}
.content h1{
     font-size: xx-large;
     font-weight: bolder;
     margin-left: 150px;
     padding-left: 150px;
}
.content img{
    padding-top: 50px;
    margin-left: 150px;
    padding-left: 150px;
}
.content p{
    color: #919191;
    font-size: large;
    margin-left: 150px;
    padding-left: 150px;
}
.content span{
    color: #494949;
}
.footer {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
  }
  .footer-container h3{
    font-family: Verdana;
    font-size: large;
    font-weight: bold;
    margin-left: 30px;
  }
  .footer-container ul{
    display: block;
    font-family: Verdana;
    font-size: large;
    margin-top: 20px;
    margin-left: 30px;
  }
  .footer-container li{
    list-style-type: none;
    padding: 10px;
    color: #494949;
  }
  .footer-container li:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
  .footer-container p{
    font-family: Verdana;
    font-size: medium;
    color: #494949;
  }
  .footer-container p .card:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
  